body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .head-img{
    background-image: url("./images/header.jpg");
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .header {
    padding: 10px 16px;
  }